{% extends 'base.html' %}
{% block body %}
{% load static %}
    <style>
        .container{
            display: flex;
            height:40vh;
            align-items: center;
            justify-content: center;
        }
    .form1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        
    }
    form{
        padding:30px;
    }
    .close {
        position: absolute;
        top: 3px;
        right: 8px;
        font-size: 25px;
        color: rgb(255, 255, 255);
        transform: rotate(45deg);
        cursor: pointer;
        text-decoration: none;
        
    }
    button{
        background-color:rgb(103, 175, 220) ;
        color:white;
        padding:10px 20px;
    }
</style>
<div class="container">
    <div class="form1"style=" background-color:rgba(0,0,0,0.3);">
        <a href="javascript:history.go(-1);" class="close">+</a>
        <h5 style="background-color:rgb(103, 175, 220) ; color:white; text-align: center; padding: 5px 0; width:100%;">Stock Item Creation</h5>
        <form action="" method="post">

<!-- <div class="container">
<div class="form1">
    <a href="javascript:history.go(-1);" class="close">+</a>
    <h5 style="background-color:rgb(103, 175, 220) ; color:white; text-align: center; padding: 5px 0; width:100%;">Group Alteration(Secondary)</h5>
    <form action="" method="post"> -->
    
        
        <div><p>Name</p></div>
        <input type="text">
        <div><p>(Alias)</p></div>
        <input type="text">
        <div><p>Under</p></div>
        <select name="primary" id="primary">
            <option value="primary">Primary</option>
        </select>
        <div><p>Units</p></div>
        <select name="primary" id="primary">
            <option value="Not Applicable">Not Applicable</option>
            
        </select>
        <hr>
        <div><h5>statutory Details</h5></div>
        <div><p>GST Applicable</p></div>
        <select name="primary" id="primary">
            <option value="Not Applicable">Not Applicable</option>
            <option value="Applicable">Applicable</option>
            <option value="Undefined">Undefined</option>
        </select>
        <div><p>Type of supply</p></div>
        <select name="primary" id="primary">
            <option value="Goods">Goods</option>
            <option value="Services">Services</option>
            
        </select>
        <div><p>Rate of duty(eg 5)</p></div>
        <input type="number">
        
<button><h5>Create</h5></button>
    </form>
</div>
</div>
{% endblock %}










































