{% extends 'base.html' %}
{% block body %}
{% load static %}
    <style>
        .container{
            display: flex;
            height:40vh;
            align-items: center;
            justify-content: center;
        }
    .form1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        
    }
    form{
        padding:30px;
    }
    .close {
        position: absolute;
        top: 3px;
        right: 8px;
        font-size: 25px;
        color: rgb(255, 255, 255);
        transform: rotate(45deg);
        cursor: pointer;
        text-decoration: none;
        
    }
    button{
        background-color:rgb(103, 175, 220) ;
        color:white;
        padding:10px 20px;
    }
</style>
<div class="container">
    <div class="form1"style=" background-color:rgba(0,0,0,0.3);">
        <a href="javascript:history.go(-1);" class="close">+</a>
        <h5 style="background-color:rgb(103, 175, 220) ; color:white; text-align: center; padding: 5px 0; width:100%;">Unit Creation</h5>
        <form action="" method="post">

<!-- <div class="container">
<div class="form1">
    <a href="javascript:history.go(-1);" class="close">+</a>
    <h5 style="background-color:rgb(103, 175, 220) ; color:white; text-align: center; padding: 5px 0; width:100%;">Group Alteration(Secondary)</h5>
    <form action="" method="post"> -->
    
        
        <div><p>Type</p></div>
        <input type="text" value="simple">
        <div><p>Symbol </p></div>
        <input type="text">
        <div><p> Formal name</p></div>
        <input type="text">
        <div><p> Number of decimal places </p></div>
        <input type="number">
        <div><p>Unit Quantity Code (UQC)</p></div>
            <select name="sub-ledger" id="sub-ledger">
              <option>Not aplicable</option>
              <option>BAG-BAGS</option>
              <option>BAL-BALE</option>
              <option>BDL-BUNDLES</option>
              <option>BKL-BUCKLES</option>
              <option>BOU-BILLION OF UNITS</option>
              <option>BOX-BOX</option>
              <option>BTL-BOTTLES</option>
              <option>BUN-BUNCHES</option>
              <option>CAN-CANS</option>
              <option>CBM-CUBIC METERS</option>
              <option>CCM-CUBIC CENTIMETERS</option>
              <option>CMS-CENTIMETERS</option>
              <option>CTN-CARTONS</option>
              <option>DOZ-DOZEN</option>
              <option>DRM-DRUMS</option>
              <option>GGK-GREAT GROSS</option>
              <option>GYD-GROSS-YARDS</option>
              <option>KGS-KILOGRAMS</option>
              <option>KLR-KILOLITER</option>
              <option>KME-KILOMETER</option>
              <option>MLT-MILLILITRE</option>
              <option>MTR-METERS</option>
              <option>MTS-METRIC TONES</option>
              <option>NOS-NUMBERS</option>
              <option>OTH-OTHERS</option>
              <option>PAC-PACKS</option>
              <option>PCS-PICES</option>
              <option>PRS-PAIRS</option>
              <option>QTL-QUINTEL</option>
              <option>ROL-ROLLS</option>
              <option>SET-SETS</option>
              <option>SQF-SQUAREFEET</option>
              <option>SQM-SQUARE METER</option>
              <option>SQY-SQUARE YARDS</option>
              <option>TBS-TABLETS</option>
              <option>TGM-TEN GROSS</option>
              <option>THD-THOUSANDS</option>
              <option>TON-TONNES</option>
              <option>TUB-TUBES</option>
              <option>UNIT-UNITS</option>
              <option>YDS-YARDS</option>
                
                 
            </select>
        
           
        
        
<button><h5>Create</h5></button>
    </form>
</div>
</div>
{% endblock %}























































































































